@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-heading:var(--color-blue-900);
  --color-background: #F3F8FC;  
  --color-secondary: #64748b; 
  --color-para:#112044;
};

body{
  overflow-x:hidden;
}

html {
  scroll-behavior: smooth;
}